@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    /* primary/main color */
    --clr-primary-5: hsl(205, 78%, 60%);
    /* lighter shades of primary color */
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-black: #222;
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
}

body {
    background-color: var(--clr-grey-10);
}

.main {
    max-width: 25rem;
    min-height: 10rem;
    padding: 1rem 5rem;
    margin: 7rem auto;
    background-color: #fff;
    border-radius: 1rem 1rem 1rem 1rem;
    box-shadow: 0px 0px 3px 3px rgb(93, 92, 92);
}

.main h1 {
    text-align: center;
    font-family: var(--ff-primary);
    letter-spacing: var(--spacing);
    margin-bottom: 0;
}

.submitButton {
    padding: .4rem 2rem;
    background-color: rgb(92, 134, 197);
    color: #fff;
    border: rgb(92, 134, 197);
    border-radius: 0 2rem 2rem 0;
    font-size: 1rem;
    margin-right: 0;
}

.userInput {
    margin-left: 0;
    border-radius: 2rem 0 0 2rem;
    font-size: 1rem;
    padding: .25rem 2rem;
}

.groceryItems {
    letter-spacing: var(--spacing);
    color: rgb(23, 96, 137);
}

.item {
    display: inline;
    text-transform: capitalize;
}

.itemButton {
    display: inline;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.buttons {
    float: right;
    padding-right: 1.5rem;
}

.edit {
    color: rgb(3, 167, 3);
}

.delete {
    color: red;
}

.alert {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: var(--spacing);
    margin-top: .75rem;
    margin-bottom: 1rem;
    margin-right: 1.5rem;
}

.alert-danger {
    background-color: rgb(231, 165, 165);
}

.alert-success {
    background-color: rgb(171, 222, 171);
}